In [4]:
import pandas as pd

# Load the cleaned data
df = pd.read_csv("/Users/mitra/Documents/digital-futures/capstone_project/superstore-streamlit-app/data/cleaned/cleaned_superstore.csv")

# Preview the dataset
df.head()

# Check shape
print("Shape:", df.shape)

# Check columns
print("Columns:", df.columns.tolist())

# Check data types
print(df.dtypes)

# Check for missing values
print(df.isnull().sum())

# Re-parse dates (optional, for analysis or visualisation)
df['order_date'] = pd.to_datetime(df['order_date'])
df['ship_date'] = pd.to_datetime(df['ship_date'])
df['order_month'] = df['order_date'].dt.to_period('M')
df['order_quarter'] = df['order_date'].dt.to_period('Q')

# Confirm again
df[['order_date', 'ship_date', 'order_month', 'order_quarter']].head()

Shape: (13297, 29)
Columns: ['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name', 'segment', 'state', 'country', 'market', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'quantity', 'discount', 'profit', 'shipping_cost', 'order_priority', 'year', 'ship_duration', 'shipping_speed', 'order_month', 'order_quarter', 'profit_margin', 'is_profitable', 'customer_order_count', 'order_weekday']
order_id                 object
order_date               object
ship_date                object
ship_mode                object
customer_name            object
segment                  object
state                    object
country                  object
market                   object
region                   object
product_id               object
category                 object
sub_category             object
product_name             object
sales                   float64
quantity                  int64
discount                float64
profit                  float64
shipping_cost           float64
order_priority           object
year                      int64
ship_duration             int64
shipping_speed           object
order_month              object
order_quarter            object
profit_margin           float64
is_profitable              bool
customer_order_count      int64
order_weekday            object
dtype: object
order_id                0
order_date              0
ship_date               0
ship_mode               0
customer_name           0
segment                 0
state                   0
country                 0
market                  0
region                  0
product_id              0
category                0
sub_category            0
product_name            0
sales                   0
quantity                0
discount                0
profit                  0
shipping_cost           0
order_priority          0
year                    0
ship_duration           0
shipping_speed          0
order_month             0
order_quarter           0
profit_margin           0
is_profitable           0
customer_order_count    0
order_weekday           0
dtype: int64

  order_date  ship_date order_month order_quarter
0 2011-01-01 2011-01-06     2011-01        2011Q1
1 2011-01-01 2011-01-08     2011-01        2011Q1
2 2011-01-01 2011-01-05     2011-01        2011Q1
3 2011-01-01 2011-01-05     2011-01        2011Q1
4 2011-01-01 2011-01-08     2011-01        2011Q1

In [5]:
print("Shape:", df.shape)

Shape: (13297, 29)